@import "mixins";
@import "detailView";
@import "variables";
@import "loading";
@import "todayForecast";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  @include largeScreens {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: lighten($background, 10);
    gap: 1rem;
  }
}

#app {
  background: linear-gradient(0deg, $elevation-2 0%, $background 50%);
  color: $text-color;
  min-height: 100vh;
  padding: 1rem;
  font-family: "Inter", sans-serif;

  @include largeScreens {
    width: 400px;
    height: $max-height-desktop;
    min-height: unset;
    overflow: auto;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
  }
}
